"ArquivoExportacao"="C:\\WKRadar\\BI\\Registros\\Balancetes\\08-2024.txt";

"Separador"="|";

"EliminarCaracteres"="|";

"GerarSemAspas"="1";

"ExpCabecalhoColunas"="1";

"SimboloDecimal"=",";

"SimboloAgrupamento"=".";

"Modulo"="CN";

"Empresa"="Laboratorio";

"Modelo"="WKBI_ExportaBalancetes";

"Relatorio"="Balancete";

"DataInicial"="01/08/24";

"DataFinal"="31/08/24";

"BalanceteGerencial"="0";

"SepararMeses"="0";

"PlanoAlternativo"="0";

"DesconsiderarZeramento"="1";

"PonteiroIndice"="0";

"TipoSinal"="0";

"TipoTotalizacao"="0";

"Sintetico"="0";

"SaltarPagina"="0";

"OrdemAlfabetica"="0";

"SepararTitulo"="0";

"NegritarTitulo"="1";

"RelacionarPorFilial"="0";

"SepararPorFilial"="0";

"ImprimirTodasContas"="0";

"EliminarSaldoZero"="0";

"EliminarSaldoZeroIndependente"="0";

"ImpressaoColorida"="0";

"DesconsiderarIFRS"="0";

"DemonstrarVinculo"="0";

"AgruparParalela"="0";

"GrauSintetico"="0";

"PaginaInicial"="1";

"Contrapartida"="";

"AgruparValoresRaizCNPJ"="0";

"Hash"="nZ2dn+7jnZ2cnOHMz8LfzNnC38TCnZ2dlO/MwczDzsjZyJ2dn5/65u/k8ujV3cLf2czvzMHMw87I2cje";
