"ArquivoExportacao"="C:\\WKRadar\\BI\\Registros\\Razao\\01-2025.txt";

"Separador"="|";

"EliminarCaracteres"="|";

"GerarSemAspas"="1";

"ExpCabecalhoColunas"="1";

"SimboloDecimal"=",";

"SimboloAgrupamento"=".";

"Modulo"="CN";

"Empresa"="Laboratorio";

"Modelo"="Com Debito, Credito e Saldo";

"Relatorio"="Razão";

"DataInicial"="01/01/25";

"DataFinal"="31/01/25";

"MostrarSubanalitica"="0";

"PonteiroIndice"="0";

"TotalDiario"="0";

"TotalMensal"="0";

"TotalAcumulado"="0";

"SaltarPagina"="0";

"RepetirConta"="0";

"SinalDC"="0";

"ListarSemMovimentacao"="1";

"ListarContaTotalizadora"="0";

"ListarLanGerenciais"="0";

"OrdemAlfabetica"="0";

"OrdemGrupoConta"="0";

"ImprimirLinhaSeparadora"="0";

"NegritarNomeConta"="0";

"EliminarSaldoZero"="0";

"NumeroRazao"="0";

"TamanhoLivro"="0";

"PaginaInicial"="0";

"Hash"="nZ2dn+7jnZ2cnOHMz8LfzNnC38TCnZ2dmP/M124Owp2dn5ruwsCN6cjPxNnCgY3u38jJxNnCjciN/szBycI=";

